/* You can add global styles to this file, and also import other style files */
body{
  background: #fafafa;
  font-family: 'Roboto',sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
}
strong{
  font-weight: 700;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 999;
}
.header .logo{
  display: block;
  margin: 0 auto;
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
height: 35px;
width: 100px;
margin-top: 10px;
}

.wrapper{
  padding:0 15px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  box-sizing: border-box;
}

.actual-user{
  margin-top: 15px;
  font-size: 14px;
}

.stories{
  margin-top: 15px;
}
.stories-list{
  padding:15px 5px;
  overflow: hidden;
  overflow-x: auto;
-webkit-overflow-scrolling: touch;
white-space: nowrap;

box-sizing: border-box;
}
.stories-list li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 10px;
}
.stories-list li .image{
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  background-color: #eaeaea;
}

.stories-list li .image::before{
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 50%;
  z-index: -1;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82e8b+0,f93100+100 */
background: rgb(232,46,139); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,46,139,1) 0%, rgba(249,49,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e8b', endColorstr='#f93100',GradientType=0 ); /* IE6-9 */
}
.stories-list li.upload-storie .image::before{
  background: #559dc3;
    content: "+";
    font-size: 35px;
    color: #fafafa;
    z-index: 1;
    line-height: 69px;
}
.cargado .stories-list li.upload-storie .image::before{
  background: #bfd45e;
}
.stories-list li.upload-storie{
  position: relative;
  cursor: pointer;
}

.stories-list li.upload-storie .image-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  text-indent: -99999px;
}

.stories-list li p{
  display: block;
  margin-top: 10px;
  font-size: 10px;
  opacity: .5;
}

.stories .button,
.upload .button{
  display: block;
  -webkit-appearence:none;
  padding:5px 14px;
  font-size: 13px;
  color: #fff;
  background: #000;
  outline: none;
  border-radius:25px;
  border:none;
  background: #000;
  opacity: .1;

}

.stories.cargado .button,
.upload.cargado .button{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82e8b+0,f93100+100 */
background: rgb(232,46,139); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,46,139,1) 0%, rgba(249,49,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e8b', endColorstr='#f93100',GradientType=0 ); /* IE6-9 */
opacity: 1;
cursor: pointer;

}
.no-image{
  text-align: center;
  margin-top: 100px;
}
.timeline{
  margin:30px 0;
}
.timeline li{
  margin-top: 25px;
  background: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      overflow: hidden;
}
.timeline li:first-child{
  margin-top: 0;
}

.timeline li .image{
  display: block;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.timeline li .image:before{
  content: "";
  display: block;
  height: 0;
  padding-bottom: 75%;
}
.timeline li .description{
  padding:15px;
  box-sizing: border-box;
}
.timeline li .description p{
  font-size: 14px;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timeline li .description .user{
  margin-right: 6px;
}
.timeline li .description .date{
  opacity: .3;
  margin-top: 15px;
  font-size: 12px;
}

.tabs{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  line-height: 50px;
}

.tabs li{
  display: inline-block;
  margin-right: 10px;
}
.tabs li.active a{
  font-weight: 700;
}
.tabs li a{
  text-decoration: none;
  outline: none;
  font-size: 14px;
  color: #000;
}


.upload{
  margin-top: 40px;
}
.upload .input-image{
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background: #559dc3;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  background-size: cover;
}
.upload .input-image span{
  color: #fff;
  font-size: 72px;
}
.upload .input-image .image-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  text-indent: -99999px;
}

.upload .input{
  margin-top: 30px;
      -webkit-appearance:none;
  display: block;
  width: 100%;
  outline:none;
  border: none;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding:15px;
  font-size: 14px;

  box-sizing: border-box;
}
.upload .button{
  margin: 0 auto;
  margin-top: 30px;
}

.photos-list.wrapper{
  margin: 0 auto;
  max-width: 980px;
}
.photos-list{
  margin: 0 -10px;
}
.photos-list li{
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  width: 100%;
  margin-top: 20px !Important;

}

.login{
  text-align: center;
}
.login.align-middle{
  position: relative;
  height: calc(100vh - 100px);
}
.login.align-middle::before{
  content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.login .align{
  display: inline-block;
  vertical-align: middle;
}
.login a{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    line-height: 150px;
    font-size: 15px;
    text-decoration: none;
    margin:0px 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82e8b+0,f93100+100 */
  background: rgb(232,46,139); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(232,46,139,1) 0%, rgba(249,49,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(232,46,139,1) 0%,rgba(249,49,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e8b', endColorstr='#f93100',GradientType=0 ); /* IE6-9 */

}
.login a.user-2{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

@media (min-width:768px){

  .photos-list li{
    width: 46%;

}
}

@media (min-width:980px){

  .photos-list li{
    width: 30%;

}

}
